body {
  background-color: hsl(233, 47%, 7%);
}
* {
  box-sizing: border-box;
}

/* FOR BIGGER SCREEN*/
@media screen and (min-width:1024px) {
  * {
    overflow: auto;
  }

  img {
    border-radius: 0 10px 10px 0;
    float: right;
  }

  .img-class {
    background-color: #AB5CDB;
  }

  .card-container {
    margin: 150px 200px;
    width: 70%;
    overflow: auto;
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px 0 0 10px;
  }

  .main-heading {
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: 700;
    margin-top: 50px;
    font-size: 2.2rem;
    padding: 10px 90px 0 50px;
  }

  .em-desc {
    color: hsl(277, 64%, 61%);
  }

  .main-para {
    color: hsla(0, 0%, 100%, 0.50);
    font-family: 'Inter', sans-serif;
    line-height: 2;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 30px;
    padding: 0 100px 20px 50px;
  }

  .stat-heading1 {
    display: inline-block;
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px;
  }

  .stat-heading2 {
    display: inline-block;
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px;
  }

  .stat-heading3 {
    display: inline-block;
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px;
  }

  .stat-header {
    color: hsla(0, 0%, 100%);
    margin-bottom: 10px;
    padding-left: 50px;
  }

  .stat-para {
    color: hsla(0, 0%, 100%);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 12px;
    margin-top: 0px;
    padding-left: 50px;
    letter-spacing: 1px;
  }

  .attribution {
    font-family: 'Inter', sans-serif;
    width: 50%;
    margin: 0 auto;
    color: white;
    padding-bottom: 10px;
  }
}

/*FOR MOBILE SCREEN*/
@media screen and (max-width: 540px) {
  body {
    max-width: 375px;
    margin: 100px 50px;
  }

  * {
    text-align: center;
  }

  .A-sub-two {
    display: inline-block;
    position: relative;
    float: right;
    background-color: #AB5CDB;
    border-radius: 10px 10px 0 0;
  }

  img {
    width: 100%;
    opacity: 0.5;
    border-radius: 10px 10px 0 0;
  }

  .card-container {
    display: inline-block;
    position: relative;
    background-color: hsl(244, 38%, 16%);
    border-radius: 0 0 10px 10px;
  }

  .main-heading {
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: 700;
    text-align: center;
    margin-top: 50px;
    padding-left: 75px;
    padding-right: 75px;
  }

  .em-desc {
    color: hsl(277, 64%, 61%);
  }

  .main-para {
    color: hsla(0, 0%, 100%, 0.50);
    font-family: 'Inter', sans-serif;
    line-height: 2;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 30px;
    padding: 0 60px 20px 60px;
    text-align: center;
  }

  .stat-header {
    color: hsla(0, 0%, 100%);
    margin-bottom: 0;
    font-family: 'Inter', sans-serif;
    text-align: center;
  }

  .stat-para {
    color: hsla(0, 0%, 100%, 0.50);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 12px;
    margin-top: 10px;
    letter-spacing: 1px;
    text-align: center;
    padding-bottom: 20px;
  }

  .stat-heading3 {
    margin-bottom: 50px;
  }

  /* FOOTER*/
  .attribution {
    position: absolute;
    color: white;
    font-family: 'Inter', sans-serif;
    width: 100%;
    z-index: -1;
  }
}
